a:active a:visited a:after a:hover 
{
    text-decoration: none; 
    decoration: none; 
}


h1 {  
 position: relative;
 top: 150px;
 font-family: arial;
text-decoration: none;
letter-spacing: 0.15em;
 font-size: 30px;
 color: #272626;
overflow: hidden;
text-align:center;
z-index: 1;
width: 1200px;
left: 150px;
margin:auto;

}

/*background: url('https://i.ibb.co/SdFn0Hv/cool-background.png');
*/


.content {

  display: inline-grid;
   width: 1200px;
   margin-left: 100px;
   column-gap: 40px; 
   row-gap: 30px;
   font-family: 'Amatic SC';
   
   grid-template-rows: repeat (2, minmax(0, 1fr));
   grid-template-columns: repeat(2, minmax(0, 1fr));
   justify-items: stretch;
   align-items: stretch;
   font-size: 20px;
   text-align: justify;
   padding: 40px;
   
  }
  
  .iframe {
    display:block;
    width: 80%;
    height: 90%;
    margin: 0 auto;
    
    
  }
  
  .article {
    position: relative;
    background-image: url("/monochromeparticles/assets/bg-particles.png");
    background-attachment:fixed;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    text-align: justify;
    padding: 40px;
    width: 500px;
   
    
  }
  
  #headerarticle {
    font-family: Amatic SC;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #aaa;
   
  }




.topnav a:link, a:visited {
  color: rgb(133, 122, 122);
  font-family: arial;
  font-size: 12px;
  text-decoration: none;
}


.topnav a:hover {
  color: rgb(235, 231, 231);
  text-decoration: none;
}



.topnav { 
  font-family: arial;
  background-color: rgb(255, 255, 255);
  color: rgb(105, 96, 96);
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: none;
  }

  .topnav img {
    width:25px;
    height:20px;
   border: none;
   
  }

  .topnav img:hover {
    opacity: 0.5;
  }
  
  .socialnetworks {
    position: relative;
    left: 900px;
  }
  
  
 

footer {
  font-family: 'Amatic SC';
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}




/*LOGIN FORM: */



.loginform { text-align: center;
  color: #272626;
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  padding:50px;
  margin: auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}

.forgotpasswordform { text-align: center;
  color: #272626;
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  padding:100px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
}




/* PARTICLES CSS */

canvas{ display: block; vertical-align: top; }
 /* ---- particles.js container ---- */
 
 #particles-js{ 
   position:absolute; 
   width: 1200px; 
  height: 300px; 
  background-color: #ffffff;
   background-image: url(""); 
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: 50% 50%;
   z-index: 2; 
   background-size: auto;

}

#particleContainer {
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 10px;
  

}
   
/*NAVIGATION*/

#menuToggle
{
  display: block;
  position: relative;
  top: 120px;
  left: 50px;
  z-index: 5;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color:rgb(235, 231, 231);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #272626;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #272626;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  margin-top: 10px;
  background: #f8f8f8;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Amatic SC';
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}



/*SHOP */


.shop {

 display: grid;
 width: 1200px;
 margin-left: 100px;
 margin-right: 25px;
 column-gap: 40px; 
 row-gap: 40px;
 font-family: 'Amatic SC';
 text-shadow: 4px 4px 4px #aaa;
 grid-template-rows: 1fr 1fr 1fr;
 grid-template-columns: repeat(3, minmax(0, 1fr));
 justify-items: stretch;
 align-items: stretch;
 font-size: 20px;
 text-align: justify;
 padding: 40px;
  
  
}

.shop-item {
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  background-attachment:fixed;
  border: 1px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  font-family: 'Amatic SC';
  width:200px;
  height: 200px;
  border: 1px solid #272626;
  text-align: center;
  font-weight: bold;
}


.shop-item-title {
  display:inline-block;
  padding: 10px;
  text-align: center; 
  font-weight: bold;
  font-size: 30px;
 
}

.shop-item-details {
  display:inline-block;
  padding: 10px;
  text-align: center;
  font-family: 'Amatic SC'; 
  font-size: 30px;
  font-weight: bold;
  
}


.shop-item-button {
  width: 20%;
  height: 50%;
  margin-top: 5px;
  cursor: pointer;
  align-self: center;
}

/*CART*/
.cart {
  position: relative;
  background-image: url("/monochromeparticles/assets/bg-particles.png");
  background-attachment:fixed;
  font-family: 'Amatic SC';
  font-size: 20px;
  text-align: justify;
  padding: 40px;
  width: 1200px;
  margin-left: 100px;
  margin-right: 25px;

  
}


.cart-header {
  font-weight: bold;
  font-size: 30px;
  color: #333;
  text-align: center;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid ##272626;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
  
}

.cart-row {
  display: flex;
  font-weight: bold;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #CC4C4C;
  cursor: pointer;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid ##272626;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Amatic SC';
  cursor: pointer;
} 